<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>To Do App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color:#4DB6AC;">
<nav class="navbar navbar-light" style="background-color:#FF0033;">
    <!---<a href="#" class="navbar-brand" style="background-color:#FFCC33;color:#000000;border-width:10px;border-color:#FFCC33;border-style:solid;border-spacing:30px;border-radius: 5px;">Task App</a>--->
    <a class="navbar-link btn-lg" href="{% url 'ToDoApp:categoryindex' %}" style="background-color:#FFCC33;color:#000000;">Home</a>
<a href="{% url 'admin:index' %}" class = 'navbar-link btn-lg' style="background-color:#FFCC33;color:#000000;">Admin</a>
    <a href="{% url 'ToDoApp:create-category' %}" class="navbar-link btn-lg" style="background-color:#FFCC33;color:#000000;">Add Categories</a>
    <a href="{% url 'ToDoApp:taskindex' %}" class="navbar-link btn-lg" style="background-color:#FFCC33;color:#000000;"> Tasks</a>
    <a href="{% url 'logout' %}" class="navbar-link btn-lg" style="background-color:#FFCC33;color:#000000;">Logout</a>

{% if user.is_authenticated %}
   {% if request.user.profile_pic %}
    <center><img src="{{ request.user.profile_pic.url }}" width=150 height=150></center>
    {% endif %}
     <center>Welcome, {{ user.username }}.</center>
{% endif %}
</nav>

<br>
{% block content %}
<div class="card-columns">
    {% for task_category in task_category_list %}
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ task_category.title }}</h5>
    <p class="card-text">{{ task_category.description }}</p>
   <div class="card-footer bg-transparent border-dark">

   <center>
       <a href="update/{{task_category.id}}" class="btn btn-warning" id = '{{task_category.id}}'>Edit</a>
       <a href="delete/{{task_category.id}}" class="btn btn-danger" id = '{{task_category.id}}'>Delete</a>
    </center>
    </div>
  </div>
</div>
    {% endfor %}
</div>
{% endblock %}
</body>
</html>